.header--nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: grey;
    display: flex;
    border-bottom: 1px solid green;

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100px;
        height: auto;
        color: darkgreen;
        margin-left: 5px;
        padding-top: 4px;
        border-bottom: 4px solid transparent;

        &:hover {
            border-bottom: 4px solid green;
            transition: all 0.5s ease-out;
        }
    }
}
